.App {
  text-align: center;
  padding: 20px;
  height: 100vh;
  background: url('https://thumbor.forbes.com/thumbor/1280x868/https%3A%2F%2Fblogs-images.forbes.com%2Fannabel%2Ffiles%2F2018%2F02%2FLouisville_Skyline-1200x801.jpg') center center no-repeat;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}