
.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    height: 360px;
    margin: 0 auto;
    background-color: rgba(256,256,256, .3);
    border-radius: 8px;
}
.card-descr {
    width: 82%;
    height: 320px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 10px 10px 25px rgba(0,0,0,.2);
    overflow: hidden;
}
p {
    padding: 10px 0 10px 14px;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
    width: 100%;
    letter-spacing: 10px;
    color: #000;
    height: 40px;
}
.button {
    width: 96%;
    padding-left: 4px;
    margin: 10px auto 0;
}
button {
    padding: 10px 15px;
    float: left;
    margin: 8px;
    border-radius: 5px;
}
.fas {
    font-size: 10px;
}
.notAccess {
    background: #ff1016;
    padding: 10px 0 10px 14px;
    font-size: 15px;
    width: 100%;
    color: #000;
}
.access {
    background: green;
    padding: 10px 0 10px 14px;
    width: 100%;
    color: #000;
}